.env
appsettings.json

# Artefactos de compilação
bin/
obj/

# Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Resultados de testes
TestResults/

# Ficheiros locais de configuração
appsettings.Local.json