@model Hermes.Models.ExpenseViewModel

@{
    Layout = "_Layout";
}
<div class="main-content" style="max-width:600px;">
    <div class="card">
        <h3 style="margin-bottom:1.8rem;">New expense</h3>
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group"><label asp-for="Description">Description</label><input asp-for="Description"
                                                                                           type="text" placeholder="e.g., Rent" required>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group"><label asp-for="Amount">Amount ($)</label><input asp-for="Amount" type="number"
                                                                                     step="0.01" required>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group"><label asp-for="Date">Date</label><input asp-for="Date" type="date" required>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select name="categoryId" class="form-control">

                    @if (ViewBag.Categories != null && ((IEnumerable<dynamic>)ViewBag.Categories).Any())
                    {
                        foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">
                                @category.Name
                            </option>
                        }
                    }
                    else
                    {
                        <option disabled selected>
                            No Categories available
                        </option>
                    }

                </select>

                @if (ViewBag.Categories == null || !((IEnumerable<dynamic>)ViewBag.Categories).Any())
                {
                    <small class="text-muted">
                        
                        <a asp-controller="Category" asp-action="Create" style="color:#5e5e5e;">
                            Add expense category
                        </a>
                    </small>
                }
            </div>
            <div style="display:flex; gap:16px;">
                <button type="submit" class="btn">Save expense</button>
                <a asp-controller="Dashboard" asp-action="Index" class="btn-outline">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>
